body {
  height: 30rem;
  background-image: url("https://i.pinimg.com/564x/82/2f/e7/822fe7511db7aa9273af2ecd6040e236.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 30rem;
}
